@import "../../assets/styles/variables";

.password-input {
  text-align: left;

  label {
    display: block;

    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: $btn-text-color;

    margin-bottom: 8px;
  }

  .custom-input {
    width: 93%;
    height: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $btn-border;
    border-radius: 6px;
    padding: 0 15px 0 12px;

    .eye-icon {
      background: none;
      border: none;
      outline: none;

      &:hover {
        opacity: .8;
      }
    }

    svg {
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 46px;

      border: none;
      outline: none;
    }
  }
}