@import "../../assets/styles/variables";

.email-input {
  width: 100%;
  height: auto;

  input {
    width: 93%;
    height: 48px;

    border: 1px solid $btn-border;
    border-radius: 6px;
    padding: 0 12px;
  }
}