// colors
$title:           #1A1919;
$btn-border:      #D3D8DC;
$btn-text-color:  #060E1E;
$delimiter:       #E3E6E9;
$input-text:      #A1ABB5;
$dangerous:       #EF5350;
$action-btn-bg:   #316FEA;
$white:           #FFFFFF;
$text:            #383838;

// medias
$mobile-middle:   "420px"